<!-- Sidebar  -->
<nav id="sidebar">
    <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
    </div>

    <div class="sidebar-header">
        <h3>FastAPI Web Starter</h3>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><i class="fa fa-home"></i> Home</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="/"><i class="fa fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="/docs"><i class="fa fa-file-word-o"></i> Documents</a>
                </li>
                <li>
                    <a href="/redoc"><i class="fa fa-file-pdf-o"></i> Specification</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"><i class="fa fa-book"></i> Pages</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="/page/about"><i class="fa fa-question-circle"></i> About</a>
                </li>
                <li>
                    <a href="/page/info"><i class="fa fa-info-circle"></i> Information</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/page/portfolio">Portfolio</a>
        </li>
        <li>
            <a href="/page/contact"><i class="fa fa-envelope"></i> Contact</a>
        </li>
    </ul>
</nav>
